name: Secondary Platforms iOS Build

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  XCODE_VERSION: "16.4"

jobs:
  build-react-native:
    runs-on: macOS-15
    defaults:
      run:
        working-directory: ./RNExample/ios
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: ${{ env.XCODE_VERSION }}

      - name: Setup specified simulator
        uses: futureware-tech/simulator-action@v4
        id: simulator
        with:
          model: iPhone 16 Pro
          os: iOS
          os_version: ">=18.0"
          erase_before_boot: true
          wait_for_boot: true
          shutdown_after_job: true

      - name: Add React Native cli
        run: yarn add -D @react-native-community/cli

      - name: Update CocoaPods repo
        run: pod repo update

      - name: Install CocoaPods dependencies
        run: pod install

      - name: Build iOS extension scheme
        run: xcodebuild -allowProvisioningUpdates -workspace RNExample.xcworkspace -scheme RNExample -destination 'id=${{ steps.simulator.outputs.UDID }}'
