name: iOS SDK Build and Lint

on:
  workflow_call:
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: read
  checks: write
  id-token: write

env:
  XCODE_VERSION: "16.4"

jobs:
  trunk-check:
    runs-on: macOS-15
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Trunk Check
        uses: trunk-io/trunk-action@v1

  pod-lint:
    if: false # TODO: Re-enable after 9.0 release
    runs-on: macOS-15
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Select Xcode
        run: sudo xcode-select -s /Applications/Xcode_${{ env.XCODE_VERSION }}.app

      - name: Update xcodeproj gem
        run: sudo gem install xcodeproj

      - name: Prevent social URL warnings if twitter is unreachable
        run: find . -path '*.podspec' -exec perl -pi -e 's/.+\.social_media_url.+//' {} \;

      - name: Lint with CocoaPods
        run: pod lib lint --include-podspecs=mParticle-Apple-SDK-Swift/mParticle-Apple-SDK-Swift.podspec

      - name: Undo twitter change to podspec
        run: git checkout *.podspec

  xcode-build:
    runs-on: macOS-15
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Select Xcode
        run: sudo xcode-select -s /Applications/Xcode_${{ env.XCODE_VERSION }}.app

      - name: Build SDK
        run: |
          set -o pipefail
          xcodebuild \
            -project "mParticle-Apple-SDK.xcodeproj" \
            -scheme "mParticle-Apple-SDK" \
            -destination "generic/platform=iOS" \
            clean build | xcpretty

  run-analyzer:
    runs-on: macOS-15
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Select Xcode
        run: sudo xcode-select -s /Applications/Xcode_${{ env.XCODE_VERSION }}.app

      - name: Run static analyzer
        run: |
          bash -c '! (set -o pipefail && xcodebuild -project "mParticle-Apple-SDK.xcodeproj" -scheme "mParticle-Apple-SDK" -sdk iphonesimulator -configuration Debug -destination "platform=iOS Simulator,name=iPhone 16 Pro,OS=latest" clean analyze | grep -v "warning: The iOS Simulator deployment target" | grep -v "warning: Metadata extraction skipped" | grep -F -v "Repeated use of MParticle sharedInstance in one method; assign to a local variable once." | grep -F -v "warning: Run script build phase '"'"'Run Script'"'"' will be run during every build" | grep -B3 "warning")'
