name: Cross Platform Tests

on:
  # Run for all PRs
  pull_request:
  # Run again once merged into development branch
  push:
    branches:
      - development

jobs:
  run-ios-tests:
    timeout-minutes: 30
    runs-on: macOS-13
    steps:
      - name: "Checkout Cross Platform Tests"
        uses: actions/checkout@v4
        with:
          submodules: "true"
          repository: mParticle/crossplatform-sdk-tests
          fetch-depth: 1
      - name: "Checkout iOS SDK"
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          path: .sdks/apple
      - name: "Install JDK 11"
        uses: actions/setup-java@v2
        with:
          distribution: "zulu"
          java-version: "11"
          cache: "gradle"
      - name: "Install Cocoapods"
        run: sudo gem install cocoapods; sudo gem install cocoapods-generate
      - name: Choose Xcode version
        run: xcode-select -p; sudo xcode-select -s /Applications/Xcode_14.1.app/Contents/Developer; xcode-select -p
      - name: Run Tests
        run: ./gradlew runIos
      - name: Archive Test Results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: ios-test-results
          path: Users/runner/Library/Developer/Xcode/DerivedData