name: Cross Platform Tests

on:
  workflow_call:
  workflow_dispatch:

env:
  XCODE_VERSION: "16.4"

jobs:
  run-ios-tests:
    timeout-minutes: 30
    runs-on: macOS-15
    steps:
      - name: "Checkout Cross Platform Tests"
        uses: actions/checkout@v6
        with:
          submodules: "true"
          repository: mParticle/crossplatform-sdk-tests
          fetch-depth: 1
      - name: "Checkout iOS SDK"
        uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}
          path: .sdks/apple
      - name: "Install JDK 17"
        uses: actions/setup-java@v5
        with:
          distribution: "zulu"
          java-version: "17"
          cache: "gradle"
      - name: "Install Cocoapods"
        run: sudo gem install cocoapods; sudo gem install cocoapods-generate
      - name: Choose Xcode version
        run: xcode-select -p; sudo xcode-select -s /Applications/Xcode_${{ env.XCODE_VERSION }}.app/Contents/Developer; xcode-select -p
      - name: Run Tests
        run: ./gradlew runIos
      - name: Archive Test Results
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: ios-test-results
          path: Users/runner/Library/Developer/Xcode/DerivedData
