name: Xcode Tests

on:
  # Run for all PRs
  pull_request:
  # Run again once merged into development branch
  push:
    branches:
      - development

env:
  XCODE_VERSION: "16.4"

jobs:
  native-unit-tests:
    strategy:
      max-parallel: 4
      matrix:
        platform: [iOS, tvOS]
        scheme: [mParticle-Apple-SDK, mParticle-Apple-SDK-NoLocation]
        include:
          - platform: iOS
            device: iPhone 16 Pro
          - platform: tvOS
            device: Apple TV 4K (3rd generation)
    runs-on: macOS-15
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: ${{ env.XCODE_VERSION }}  

      - name: Run unit tests
        run: xcodebuild -project mParticle-Apple-SDK.xcodeproj -scheme ${{ matrix.scheme }} -destination 'platform=${{ matrix.platform }} Simulator,name=${{ matrix.device }},OS=latest' test
