name: Xcode Tests

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  XCODE_VERSION: "16.4"

jobs:
  native-unit-tests:
    timeout-minutes: 15
    strategy:
      fail-fast: false
      max-parallel: 4
      matrix:
        platform: [iOS, tvOS]
        scheme: [mParticle-Apple-SDK-NoLocation, mParticle-Apple-SDK-Swift]
        include:
          - platform: iOS
            device: iPhone 16 Pro
          - platform: tvOS
            device: Apple TV 4K (3rd generation)
    runs-on: macOS-15
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Select Xcode
        run: sudo xcode-select -s /Applications/Xcode_${{ env.XCODE_VERSION }}.app

      - name: Run unit tests
        run: xcodebuild -project mParticle-Apple-SDK.xcodeproj -scheme ${{ matrix.scheme }} -destination 'platform=${{ matrix.platform }} Simulator,name=${{ matrix.device }},OS=latest' test
