name: Xcode Tests

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  XCODE_VERSION: "16.4"

jobs:
  native-unit-tests:
    timeout-minutes: 15
    strategy:
      fail-fast: false
      max-parallel: 4
      matrix:
        platform: [iOS, tvOS]
        scheme: [mParticle-Apple-SDK-NoLocation, mParticle-Apple-SDK-Swift]
        include:
          - platform: iOS
            device: iPhone 16 Pro
          - platform: tvOS
            device: Apple TV 4K (3rd generation)
    runs-on: macOS-15
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: ${{ env.XCODE_VERSION }}

      - name: Setup specified simulator
        uses: futureware-tech/simulator-action@v4
        id: simulator
        with:
          model: ${{ matrix.device }}
          os: ${{ matrix.platform }}
          os_version: ">=18.0"
          erase_before_boot: true
          wait_for_boot: true
          shutdown_after_job: false

      - name: Run unit tests
        run: xcodebuild -project mParticle-Apple-SDK.xcodeproj -scheme ${{ matrix.scheme }} -destination 'id=${{ steps.simulator.outputs.UDID }}' test
